.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-head {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #1e293b;
}
.error-desc {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #475569;

  width: 530px;
  height: 64px;
  top: 644px;
  left: 455px;
}

.home-button {
  width: Hug (123px);
  height: Hug (48px);
  margin-left: 40%;
  border-radius: 4px;
  padding: 8px;
}
