.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-left: 30px;
  margin-left: 8%;
}

.app1-container {
  width: 456px;
  height: 523px;
  top: 250px;
  left: 165px;
  border-radius: 8px;
  background: #fefeff;
  padding: 20px;
  box-shadow: 0px 8px 40px 0px #07070714;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.left {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
}

.warning {
  color: red;
}

.textHead {
  font-weight: bold;
  color: #0f172a;
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.input {
  width: 360px;
  height: 40px;
  top: 24px;
  border-radius: 2px;
  background: #e2e8f0;
  border: 0px;
  outline: none;
}

.login-btn {
  width: 360px;
  height: 40px;
  top: 685px;
  left: 213px;
  border-radius: 8px;
}
.login-image {
  width: 555px;
  height: 100vh;
  left: 735px;
}
